/*/*/*/*/*body{
	background-image: url("gf.png");
	background-repeat: no-repeat;
	background-size: cover;
}*/

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}


html, input {
  font-family: "Century Gothic";
}

html, body {
  height: 50%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 50%;
  margin: 0;
  padding: 0;
  width: 50%;
}

.page {
  border-radius: 10px;
  border: 1px solid gray;
  margin-top: -430px;
  height: 50%;
  margin-left: 830px;
  float: right;
  position: absolute;
  width:30%;
}

/* Login Page */

.login.page {
  background-color: white;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 200px;
  color: gray;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 130%;
  letter-spacing: 2px;
}

.login.page .title, .login.page .usernameInput {
  color: black;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 80%;
  color: white;
  font-family: "Century Gothic";
}

.inputMessage {
  font-size: 80%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
  background-color: #132639;
  border-radius: 10px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 1px solid gray;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
  border-radius: 10px;
}

#dropdownMenu1{
  background-color: white;
  font-family: "Century Gothic";
  font-size: 14px;
}

#wa{
  background-color: white;
}

#we{
  background-color: white;
  color: #404040;
  border: 1px solid gray;
}

#woi{
  color: #404040;
  font-family: "Century Gothic";
  font-size: 14px;
}

#kigwa{
  background-color: #264d73;
  width: 101%;
}


#wew{
  color: white;
  font-family: "Century Gothic";
  font-weight: bold;
  font-size: 20px;
}

#green{
  background-color: #00cca3;
  border: 1px solid #00cca3;
}

#red{
  background-color: #ff4d4d;
  border: 1px solid #ff4d4d;
}

#arr{
  background-color: #264d73;
  border: 1px solid #264d73;
}

#fag{
  font-size: 15px;
  border: 1px solid #00cca3;
  padding: 5px;
  background-color: #00cca3;
  color: white;
}

#fog{
    font-size: 15px;
  border: 1px solid #00cca3;
  padding: 5px;
  background-color: #00cca3;
  color: white;
}

.ima{
  border-radius: 50%;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}